<link rel="stylesheet" type="text/css" href="D:\我的资料\Documents\GitHub\class-website\public\stylesheets\css\main.css">
<link rel="stylesheet" type="text/css" href="D:\我的资料\Documents\GitHub\class-website\public\stylesheets\fundation\css\foundation.min.css">
<!DOCTYPE html>
<html>
<head>
  <title>黃薯耔 - 无节操的班长才是好班长喔</title>
  <meta charset="utf-8">
  <script type="text/javascript" src="D:\我的资料\Documents\GitHub\class-website\public\javascripts\libraries\jquery.1.10.2.js"></script>
  <script type="text/javascript" src="D:\我的资料\Documents\GitHub\class-website\public\javascripts\libraries\gsap\TweenMax.min.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <a id="logo" href="/">Monkeys' Cabin</a>

      <div id="nav">
        <ul>
          <li id="navHome">
            <a href="main_page.html">首页</a>
          </li>
          <li id="navQuestionnaire">
            <a href="questionnaire_list_page.html">调查问卷</a>
          </li>
          <li id="navPost">
            <a href="#">贴吧</a>
          </li>
        </ul>

        <div id="underline"></div>
      </div> 
    </div>
  </header>

<div class="content">
  <div class="topNews">

  </div>

  <div class="intro">
    <img class="huxin" src="D:\我的资料\Documents\GitHub\class-website\public\images\huxin.jpg">
    <div class="text">
      <h2>“ 宅要宅的出文化，所以说宅是一种文化。 ”</h2>
      <p class="sign">—— 胡鑫(肯麦鸡首席鉴鸡师)</p>
      <p>JQQT，激情求贴，在这里有全新的贴吧，吐槽星人的聚集地，我们从来不要 低能量的吐槽，现在我引入一种全新的方式来筛选帖子，用我十几年的鉴鸡 经验，帮助后台完成筛选，能量耗尽的帖子将会消失......而不是第一楼的跟帖则会竞争出能量最高的十条存活...哈哈哈，叫我首席剑姬师。</p>
    </div>
  </div>

  <div class="intro">
    <img class="liankai" src="D:\我的资料\Documents\GitHub\class-website\public\images\liankai.jpg">
    <div class="text">
      <h2>“ 像我这么有节操的班长，才是好班长。 ”</h2>
      <p class="sign">—— 黄炼楷(蓝翔技校技术总监兼咨询师)</p>
      <p>我们一定要遵循技术方便管理的大前提，做技术就要用上技术，现在全新推 出简单快捷的小群体问卷调查功能，群体中任何个体可以填写问卷，发起问 卷，还可以直接导出数据（暂未实现），完美体验。说多一句：身为领导人 一定要有节操才行哦。</p>
    </div>
  </div>
</div>


  <footer>
    <div class="container">
      <p>Written By Mox &copy; 2014 All Rights reserved.</p>
    </div>
  </footer>
  <script type="text/javascript" src="D:\我的资料\Documents\GitHub\class-website\public\javascripts\js\common.js"></script>
</body>
</html>
  <div class="userBox">
    <div class="visibleArea">
      <p>弹<br>出<br><img src="D:\我的资料\Documents\GitHub\class-website\public\images\login.png"></p>
    </div>

    <div class="invisibleArea">
      <div class="userInfo">
        <div class="headImage"></div>

        <div class="details">
          <div class="userNameBox">
            <div class="userName">胡鑫</div>
          </div>
          <div class="userSituation">(在线)</div>
        </div>

        <div class="userSignBox">
          <div class="userSign">宅是一种文化</div>
        </div>
      </div>

      <div class="userBusiness">
        <div class="userQuestionnaire">我的问卷</div>

        <div class="userPost">我的帖子</div>

        <div class="allUsersList">用户列表</div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="D:\我的资料\Documents\GitHub\class-website\public\javascripts\js\user_Info.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
<script type="text/javascript" src="D:\我的资料\Documents\GitHub\class-website\public\javascripts\js\main.js"></script>