<link rel="stylesheet" type="text/css" href="D:\我的资料\Documents\GitHub\class-website\public\stylesheets\css\questionnaire_detail.css">
<link rel="stylesheet" type="text/css" href="D:\我的资料\Documents\GitHub\class-website\public\stylesheets\fundation\css\foundation.min.css">
<!DOCTYPE html>
<html>
<head>
  <title>黃薯耔 - 无节操的班长才是好班长喔</title>
  <meta charset="utf-8">
  <script type="text/javascript" src="D:\我的资料\Documents\GitHub\class-website\public\javascripts\libraries\jquery.1.10.2.js"></script>
  <script type="text/javascript" src="D:\我的资料\Documents\GitHub\class-website\public\javascripts\libraries\gsap\TweenMax.min.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <a id="logo" href="/">Monkeys' Cabin</a>

      <div id="nav">
        <ul>
          <li id="navHome">
            <a href="main_page.html">首页</a>
          </li>
          <li id="navQuestionnaire">
            <a href="questionnaire_list_page.html">调查问卷</a>
          </li>
          <li id="navPost">
            <a href="#">贴吧</a>
          </li>
        </ul>

        <div id="underline"></div>
      </div> 
    </div>
  </header>

<div class="questionnaireBox">
  <h2 class="questionnaireTitle">胡鑫的小宇宙到底有多大呢？</h2>
  <div class="questionnaireDetails">
    <span class="authorImage"></span>
    <b class="authorName">胡鑫</b>创建于 
    <span class="createdTime">2014/1/22</span>
  </div>

  <div class="statement">胡鑫的小宇宙是从小就喝大力喝了十几年厚积薄发而成，俗话说的好：大力出奇迹，一天不喝大力就难受，喝了大力爆发小宇宙胡鑫的小宇宙威力到底有多大请看他的盲僧秀。</div>

  <form method="" id="questions">
    <div>
      <p class="questionTitle">胡鑫的小宇宙是怎么来的？</p>
      <input type="radio" name="ans1" value="">
      <label for="ans1">喝大力来的</label>
      <input type="radio" name="ans1" value="">
      <label for="ans1">喝大力来的</label>
      <input type="radio" name="ans1" value="">
      <label for="ans1">喝大力来的</label>
      <input type="radio" name="ans1" value="">
      <label for="ans1">喝大力来的</label>
    </div>

    <div>
      <p class="questionTitle">胡鑫的小宇宙是怎么来的？</p>
      <input type="checkbox" name="ans2" value="">
      <label for="ans2">喝大力来的</label>
      <input type="checkbox" name="ans2" value="">
      <label for="ans2">喝大力来的</label>
      <input type="checkbox" name="ans2" value="">
      <label for="ans2">喝大力来的</label>
      <input type="checkbox" name="ans2" value="">
      <label for="ans2">喝大力来的</label>
    </div>
  </form>
</div>


  <footer>
    <div class="container">
      <p>Written By Mox &copy; 2014 All Rights reserved.</p>
    </div>
  </footer>
  <script type="text/javascript" src="D:\我的资料\Documents\GitHub\class-website\public\javascripts\js\common.js"></script>
</body>
</html>
<script type="text/javascript" src="D:\我的资料\Documents\GitHub\class-website\public\javascripts\js\questionnaire.js"></script>
<script src="http://localhost:35729/livereload.js"></script>