<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/fundation/css/foundation.min.css">
<%- include common/header.ejs %>

<div class="content">
  <div class="topNews">

  </div>

  <div class="intro">
    <img class="huxin" src="/images/huxin.jpg">
    <div class="text">
      <h2>“ 宅要宅的出文化，所以说宅是一种文化。 ”</h2>
      <p class="sign">—— 胡鑫(肯麦鸡首席鉴鸡师)</p>
      <p>JQQT，激情求贴，在这里有全新的贴吧，吐槽星人的聚集地，我们从来不要 低能量的吐槽，现在我引入一种全新的方式来筛选帖子，用我十几年的鉴鸡 经验，帮助后台完成筛选，能量耗尽的帖子将会消失......而不是第一楼的跟帖则会竞争出能量最高的十条存活...哈哈哈，叫我首席剑姬师。</p>
    </div>
  </div>

  <!--
  <div class="intro">
    <img class="liankai" src="/images/liankai.jpg">
    <div class="text">
      <h2>“ 像我这么有节操的班长，才是好班长。 ”</h2>
      <p class="sign">—— 黄炼楷(蓝翔技校技术总监兼咨询师)</p>
      <p>我们一定要遵循技术方便管理的大前提，做技术就要用上技术，现在全新推 出简单快捷的小群体问卷调查功能，群体中任何个体可以填写问卷，发起问 卷，还可以直接导出数据（暂未实现），完美体验。说多一句：身为领导人 一定要有节操才行哦。</p>
    </div>
  </div>
  -->
</div>

<%- include common/footer.ejs %>
<% if (user) { %>
  <%- include common/user_info.ejs %>
<% } else { %>
  <%- include common/login.ejs %>
<% } %>
<script src="http://localhost:35729/livereload.js"></script>
<script type="text/javascript" src="/javascripts/js/main.js"></script>