/**************************** global ****************************/
* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Microsoft YaHei", Arial, sans-serif;
}
a {
  color: #333333;
  text-decoration: none;
}
/**************************** login ****************************/
.loginBox {
  width: 242px;
  position: fixed;
  top: 34%;
  left: -212px;
}
.loginBox #loginBtn {
  padding: 0;
  float: right;
}
.loginBox #loginBtn p {
  margin-bottom: 0;
  padding: 6px;
  color: #eee;
  font-weight: bold;
  font-size: 17px;
}
.loginBox #loginBtn p img {
  width: 18px;
  height: 18px;
}
.loginBox .loginForm {
  width: 212px;
  padding-top: 30px;
  background: url(/images/bg_dark.jpg);
  float: left;
}
.loginBox .loginForm input::-webkit-input-placeholder {
  font-style: italic;
  color: #bbb;
}
/**************************** user_info ****************************/
.userBox {
  width: 242px;
  color: #fbfbfb;
  position: fixed;
  top: 34%;
  left: -212px;
}
.userBox #logoutBtn {
  padding: 0;
  float: right;
}
.userBox #logoutBtn p {
  margin-bottom: 0;
  padding: 6px;
  color: #eee;
  font-weight: bold;
  font-size: 17px;
}
.userBox #logoutBtn p img {
  width: 18px;
  height: 18px;
}
.userBox .invisibleArea {
  width: 212px;
}
.userBox .invisibleArea .userInfo {
  overflow: hidden;
  padding: 7px 25px;
  background: url(/images/bg_dark.jpg);
}
.userBox .invisibleArea .userInfo .userNameBox {
  line-height: 25px;
  font-size: 17px;
  font-weight: bold;
  float: left;
}
.userBox .invisibleArea .userInfo .headImage {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  float: left;
  margin-right: .3em;
}
.userBox .invisibleArea .userInfo .userSignBox {
  float: left;
  font-size: 15px;
  font-style: italic;
}
.userBox .invisibleArea .userBusiness {
  background: rgba(0, 0, 0, 0.7);
}
.userBox .invisibleArea .userBusiness div {
  width: 65%;
  margin: 0 auto;
  padding: .5em;
  border-bottom: 1px solid #ababab;
}
.userBox .invisibleArea .userBusiness div:last-child {
  border-bottom: none;
}
/**************************** header ****************************/
header {
  height: 59px;
  margin: 0 0 40px 0;
  background: rgba(238, 238, 238, 0.8);
  min-width: 900px;
  text-align: center;
}
header .container {
  width: 900px;
  margin: 0 auto;
}
header .container #logo {
  display: block;
  float: left;
  height: 58px;
  line-height: 58px;
  background: url(/images/brand.png);
  background-size: 61px 58px;
  background-repeat: no-repeat;
  padding-left: 61px;
  font-family: 'Brush Script Std' Arial;
  font-size: 24px;
}
header .container #nav {
  float: right;
  position: relative;
  display: inline-block;
  text-align: left;
}
header .container #nav ul {
  margin: 0;
  padding: 7px 0 0 0;
  height: 44px;
}
header .container #nav ul li {
  display: block;
  float: left;
  cursor: pointer;
  margin-right: 50px;
}
header .container #nav ul li a {
  display: block;
  padding: .5em;
  font-size: 18px;
  line-height: 34px;
  color: #3c4147;
}
header .container #nav ul li a:hover {
  color: rgba(60, 65, 71, 0.9);
}
header .container #nav ul li:last-child {
  margin-right: 0;
}
header .container #nav ul li.active {
  color: rgba(60, 65, 71, 0.9);
}
header .container #nav #underline {
  height: 3px;
  position: absolute;
  bottom: 0;
  background: red;
}
/**************************** footer ****************************/
footer {
  margin-top: 2em;
}
footer .container {
  width: 900px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  color: #888;
}
footer .container p {
  margin: 1.5em 0;
  padding-left: 50px;
  font-family: 'Brush Script Std' Arial;
}
#underline {
  left: 104px;
  width: 90px;
}
.content {
  width: 900px;
  margin: 0 auto;
  background-color: rgba(225, 225, 225, 0.8);
}
.content .tips {
  padding: 12px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3em;
}
.content .tips .feizhou {
  width: 300px;
  height: 240px;
  background: url(/images/feizhou.jpg) no-repeat;
  float: left;
  margin: 12px;
}
.content .tips .sign {
  float: right;
  font-size: 15px;
  font-style: italic;
}
.content .questionnaireList #search {
  height: 47px;
  padding-top: 5px;
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
  border-bottom: 1px solid #CACACA;
}
.content .questionnaireList #search input {
  display: block;
  margin: 0;
  width: 200px;
  border-radius: 18px;
}
.content .questionnaireList .listBody ul {
  list-style: none;
  margin: 0;
}
.content .questionnaireList .listBody ul li {
  width: 90%;
  margin: 0 auto;
  padding: 12px;
  border-bottom: 1px solid #f7f7f7;
}
.content .questionnaireList .listBody ul li .questionnaire .author {
  display: block;
  float: left;
  margin-top: 2.5px;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  background: #eee;
}
.content .questionnaireList .listBody ul li .questionnaire .questionnaireSituation {
  font-size: .8rem;
}
