  <div class="loginBox">
    <a id="loginBtn" class="button">
      <p>登<br>陆<br><img src="D:\我的资料\Documents\GitHub\class-website\public\images\login.png"></p>
    </a>
    <div class="loginForm">
      <form>
        <div class="row">
          <div class="large-11 columns">
            <input type="text" name="name" placeholder="请输入用户名">
          </div>
        </div>
        <div class="row">
          <div class="large-11 columns">
            <input type="password" name="password" placeholder="请输入密码">
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="D:\我的资料\Documents\GitHub\class-website\public\javascripts\js\login.js"></script>