  <div class="userBox">
    <a id="logoutBtn" class="button">
      <p>登<br>出<br><img src="/images/login.png"></p>
    </a>

    <div class="invisibleArea">
      <div class="userInfo">
        <img class="headImage" src="/images/default.jpg" alt="blank">

        <div class="userNameBox">
          <div class="userName"><%= user.name %></div>
        </div>

        <div class="userSignBox">
          <div class="userSign"><%= user.sign %></div>
        </div>
      </div>

      <div class="userBusiness">
        <div class="userQuestionnaire">我的问卷</div>

        <div class="userPost">我的帖子</div>

        <div class="userManage">用户管理</div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/js/user_Info.js"></script>